<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Roskilde Forsyning</title>

    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css" th:href="@{/stylesheet/index.css}"/>

</head>
<body>
<h1>Dette er <i>landing page</i> for Projekt Albertslund Fjernvarme.</h1>
<p>Banan brødre</p>
<a href="/fjernvarme/driftstatus">- Drift stats</a>
<a href="/fjernvarme/taoordningen">- TAO ordning</a>
<a href="/fjernvarme/energibesparelser">- Energibesparelser</a>
<img th:src="@{/images/hero.png}" alt="Our hero is you!"/>
</body>
</html>